<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is the home page 5*5</h1>
    <!-- <h3> <%= 5*5 %></h3> -->
     <!-- <h3><%= "Virat Kohli".toUpperCase()%></h3> -->
      <h3><%= ["fddf","refr","ffdf"][0]%></h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto illo
      nemo odit.
    </p>
    <button>click</button>
  </body>
</html>
